
body{
    font-family: cursive;
}



.container-fluid{
    color: palevioletred;
    background-color: black;


}
.text-center{
    color: blueviolet;
}

.nav ul li{
    color: blueviolet !important;
}